html {
    background-color: black;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1, h2, h3, p {
    color: white;
}

h3 {
    margin-top: 50px;
    border-left: 3px solid white;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    color: white;
    text-decoration: underline;
}